<!DOCTYPE html>
<html class="smart-design-mode" lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>首页</title>
    <link rel='stylesheet' th:href='@{/css/pp/font-awesome.min.css}' type='text/css' media='all'>
    <link th:href="@{/css/home/pcstyle.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/home/reset.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/home/iconfont.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/home/iconfont1.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/home/pager.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/home/hover-effects.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/home/antChain.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/home/30536_Pc_zh-CN.css?v=1}" rel="stylesheet">
    <link th:href="@{/css/home/98471_Pc_zh-CN.css?v=1}" rel="stylesheet">
    <link th:href="@{/css/home/view.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/home/js_composer.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/home/dynamic-combined.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/home/style.css}" rel="stylesheet" type="text/css">





    <script th:src="@{/js/home/jquery-1.10.2.min.js}"></script>
    <script th:src="@{/js/home/jquery.lazyload.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/home/smart.animation.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/home/kino.razor.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/home/common.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/home/admin.validator.js}" type="text/javascript"></script>
    <script th:src="@{/js/home/jquery.cookie.js}" type="text/javascript"></script>
    <script th:src='@{/js/home/jssor.slider-22.2.16-all.min.js}' type='text/javascript' id='jssor-all'></script>
    <script th:src='@{/js/home/slideshow.js}' type='text/javascript' id='slideshown'></script>




    <!-- -->

    <link rel='stylesheet' th:href='@{/css/pp/styles.css}' type='text/css' media='all'>
    <link rel='stylesheet' th:href='@{/css/pp/mediaelementplayer-legacy.min.css}' type='text/css' media='all'>
    <link rel='stylesheet' th:href='@{/css/pp/wp-mediaelement.min.css}' type='text/css' media='all'>
    <link rel='stylesheet' th:href='@{/css/pp/rgs.css}' type='text/css' media='all'>


    <link rel='stylesheet' th:href='@{/css/pp/jquery.fancybox.css}' type='text/css' media='all'>
    <link rel='stylesheet' th:href='@{/css/pp/select2.css}' type='text/css' media='all'>
    <link rel='stylesheet' th:href='@{/css/pp/dynamic-combined.css}' type='text/css' media='all'>
    <link rel='stylesheet' th:href='@{/css/pp/skin-material.css}' type='text/css' media='all'>
    <link rel='stylesheet' th:href='@{/css/pp/js_composer.min.css}' type='text/css' media='all'>
    <script type='text/javascript' th:src='@{/js/pp/jquery-migrate.min.js}'></script>
    <script type='text/javascript' th:src='@{/js/pp/mediaelement-and-player.min.js}'></script>
    <script type='text/javascript' th:src='@{/js/pp/mediaelement-migrate.min.js}'></script>
</head>
<body id="smart-body" area="main">

<script th:inline="javascript">
    $(function () {
        if ("" == "True") {
            $('#mainContentWrapper').addClass('translate');
            $(document).scroll(isWatchScroll)
        }
        function isWatchScroll() {
            var scroH = $(document).scrollTop();
            if (scroH >= 80) {
                $('#mainContentWrapper').removeClass('translate');
            } else {
                $('#mainContentWrapper').addClass('translate');
            }
        }
    })
</script>




<div id="mainContentWrapper" style="background-color: rgb(248, 250, 251); background-image: none; background-repeat: no-repeat;background-position:0 0; background:-moz-linear-gradient(top, none, none);background:-webkit-gradient(linear, left top, left bottom, from(none), to(none));background:-o-linear-gradient(top, none, none);background:-ms-linear-gradient(top, none, none);background:linear-gradient(top, none, none);position: relative;  width: 100%;min-width:1200px;background-size: auto;" bgscroll="none">
    <div style="background-color: transparent; background-image: none; background-repeat: no-repeat;background-position:0 0; background:-moz-linear-gradient(top, none, none);background:-webkit-gradient(linear, left top, left bottom, from(none), to(none));background:-o-linear-gradient(top, none, none);background:-ms-linear-gradient(top, none, none);background:linear-gradient(top, none, none);;position: relative; width: 100%;min-width:1200px;background-size: auto;" bgscroll="none">
        <div class=" header" cpid="30459" id="smv_Area0"style="width: 1200px; height: 65px;  position: relative; margin: 0 auto">
            <div id="smv_tem_70_50" ctype="banner" class="esmartMargin smartAbs " cpid="30459" cstyle="Style2"ccolor="Item0" areaid="Area0" iscontainer="True" pvid="" tareaid="Area0" re-direction="y"daxis="Y" isdeletable="True" style="height: 65px; width: 100%; left: 0px; top: 0px;z-index:2;">
                <div class="yibuFrameContent tem_110_41  banner_Style2  " style="overflow:visible;;">
                    <div class="fullcolumn-inner smAreaC" id="smc_Area0" cid="tem_70_50" style="width:1200px">
                        <div id="smv_tem_110_20" ctype="logoimage" class="esmartMargin smartAbs " cpid="30459" cstyle="Style1" ccolor="Item0" areaid="Area0" iscontainer="False" pvid="tem_70_50" tareaid="Area0" re-direction="all" daxis="All" isdeletable="True" style="height: 44px; width: 89px; left: 0px; top: 11px;z-index:4;">
                            <div class="yibuFrameContent tem_110_20  logoimage_Style1  " style="overflow:visible;;">
                                <div class="w-image-box" data-filltype="0" id="div_tem_110_20">
                                    <a target="_self" href="">
                                        <img th:src="@{/img/home/-45412.png}" alt="白色logo" title="白色logo" id="img_smv_tem_110_20" style="width: 89px; height:44px;">
                                    </a>
                                </div>
                                <script type="text/javascript">
                                    $(function() {
                                        InitImageSmv("tem_110_20", "89", "44", "0");
                                    });
                                </script>
                            </div>
                        </div>
                        <div id="smv_tem_72_45" ctype="nav" class="esmartMargin smartAbs " cpid="30459" cstyle="Style1" ccolor="Item0" areaid="Area0" iscontainer="False" pvid="tem_70_50" tareaid="Area0" re-direction="all" daxis="All" isdeletable="True" style="height: 65px; width: 835px; left: 366px; top: 0px;z-index:3;">
                            <div class="yibuFrameContent tem_72_45  nav_Style1  " style="overflow:visible;;">
                                <div id="nav_tem_72_45" class="nav_pc_t_1">
                                    <ul class="w-nav" navstyle="style1">
                                        <li class="w-nav-inner" style="height:65px;line-height:65px;width:20%;">
                                            <div class="w-nav-item">
                                                <i class="w-nav-item-line"></i>
                                                <a href="/home" target="_self" class="w-nav-item-link">
                                                    <span class="mw-iconfont"></span>
                                                    <span class="w-link-txt">首页</span>
                                                </a>

                                            </div>
                                        </li>
                                        <li class="w-nav-inner" style="height:65px;line-height:65px;width:20%;">
                                            <div class="w-nav-item">
                                                <i class="w-nav-item-line"></i>
                                                <a href="" target="_self" class="w-nav-item-link">
                                                    <span class="mw-iconfont"></span>
                                                    <span class="w-link-txt">品牌介绍</span>
                                                </a>

                                            </div>
                                        </li>
                                        <li class="w-nav-inner" style="height:65px;line-height:65px;width:20%;">
                                            <div class="w-nav-item">
                                                <i class="w-nav-item-line"></i>
                                                <a href="/home/cpzx" target="_self" class="w-nav-item-link">
                                                    <span class="mw-iconfont"></span>
                                                    <span class="w-link-txt">产品中心</span>
                                                </a>

                                            </div>
                                        </li>
                                        <li class="w-nav-inner" style="height:65px;line-height:65px;width:20%;">
                                            <div class="w-nav-item">
                                                <i class="w-nav-item-line"></i>
                                                <a href="/home/stores" target="_self" class="w-nav-item-link">
                                                    <span class="mw-iconfont"></span>
                                                    <span class="w-link-txt">全球门店</span>
                                                </a>

                                            </div>
                                        </li>
                                        <li class="w-nav-inner" style="height:65px;line-height:65px;width:20%;">
                                            <div class="w-nav-item">
                                                <i class="w-nav-item-line"></i>
                                                <a href="/home/fans" target="_self" class="w-nav-item-link">
                                                    <span class="mw-iconfont"></span>
                                                    <span class="w-link-txt">粉丝社区</span>
                                                </a>

                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <script>
                                    $(function() {
                                        var $nav = $("#smv_tem_72_45 .w-nav");
                                        var $inner = $("#smv_tem_72_45 .w-nav-inner");
                                        var rightBorder = parseInt($nav.css("border-right-width"));
                                        var leftBorder = parseInt($nav.css("border-left-width"));
                                        var topBorder = parseInt($nav.css("border-top-width"));
                                        var bottomBorder = parseInt($nav.css("border-bottom-width"));
                                        var height = $("#smv_tem_72_45").height();
                                        var width = $('#smv_tem_72_45').width();
                                        $nav.height(height - topBorder - bottomBorder);
                                        $nav.width(width - leftBorder - rightBorder);
                                        $inner.height(height - topBorder - bottomBorder).css("line-height", height - topBorder -
                                            bottomBorder + "px");


                                        $('#nav_tem_72_45').find('.w-subnav').hide();
                                        var $this, item, itemAll;
                                        $('#nav_tem_72_45').off('mouseenter').on('mouseenter', '.w-nav-inner', function() {
                                            itemAll = $('#nav_tem_72_45').find('.w-subnav');
                                            $this = $(this);
                                            item = $this.find('.w-subnav');
                                            item.slideDown();
                                        }).off('mouseleave').on('mouseleave', '.w-nav-inner', function() {
                                            item = $(this).find('.w-subnav');
                                            item.stop().slideUp(function() {
                                                ////设置回调，防止slidUp自动加上height和width导致在子导航中设置height和width无效
                                                //item.css({
                                                //    height: '',
                                                //    width: ''
                                                //})
                                            });
                                        });
                                        SetNavSelectedStyle('nav_tem_72_45'); //选中当前导航
                                    });

                                </script>
                            </div>
                        </div>
                    </div>
                    <div id="bannerWrap_tem_70_50" class="fullcolumn-outer" style="position: absolute; top: 0px; bottom: 0px;"> </div>

                    <script type="text/javascript">
                        $(function() {
                            var resize = function() {
                                $("#smv_tem_70_50 >.yibuFrameContent>.fullcolumn-inner").width($("#smv_tem_70_50").parent()
                                    .width());
                                $('#bannerWrap_tem_70_50').fullScreen(function(t) {
                                    if (VisitFromMobile()) {
                                        t.css("min-width", t.parent().width())
                                    }
                                });
                                //固定屏幕
                                var scrollTopCss = {
                                    'position': 'fixed',
                                    'top': 0,
                                    'left': 0,
                                    'marginTop': 0,
                                    'zIndex': 99999
                                };
                                var flag = true;
                                var ischangeData = true;
                                var docTop = $('#smv_tem_70_50').offset().top;
                                var initCss = $('#smv_tem_70_50').attr('style');
                                var bannerLeft = $('#bannerWrap_tem_70_50').css("left");
                                if (!sessionStorage.getItem('initCss')) {
                                    sessionStorage.setItem('initCss', initCss);
                                }
                                if (!sessionStorage.getItem('docTop')) {
                                    sessionStorage.setItem('docTop', docTop);
                                }
                                if (!sessionStorage.getItem('bannerLeft')) {
                                    sessionStorage.setItem('bannerLeft', bannerLeft);
                                }
                                $(window).off('scroll.fixedBanner').on('scroll.fixedBanner', function() {
                                    //如果拖动了容器的大小，则重新取一次top 和 style
                                    var newdocTop = $('#smv_tem_70_50').offset().top;
                                    var newinitCss = $('#smv_tem_70_50').attr('style');
                                    if (newinitCss != sessionStorage.getItem('initCss')) {
                                        //剔除滚动后 赋的fixed这块的属性的影响
                                        var position = $('#smv_tem_70_50').css("position");
                                        if (position == "absolute") {
                                            sessionStorage.setItem('docTop', newdocTop);
                                            sessionStorage.setItem('initCss', initCss);
                                            //docTop = newdocTop;
                                            //initCss = newinitCss;
                                        }
                                    }
                                    currentTop = Number(sessionStorage.getItem('docTop')) - $(this).scrollTop();
                                    if (currentTop < 0) {
                                        $('#smv_tem_70_50').css(scrollTopCss);
                                        $('#bannerWrap_tem_70_50').css("left", 0).addClass("fixed");
                                        if ("Prev" == "Design" && $("#smv_tem_70_50").parents(".header").length ==
                                            0) {
                                            $('#smv_tem_70_50').disableDrag();
                                            $('#smv_tem_70_50').disableResize();
                                        }

                                    } else {
                                        $('#smv_tem_70_50').attr('style', sessionStorage.getItem('initCss'));
                                        $('#bannerWrap_tem_70_50').css("left", sessionStorage.getItem('bannerLeft'))
                                            .removeClass("fixed");
                                        if ("Prev" == "Design" && $("#smv_tem_70_50").parents(".header").length ==
                                            0) {
                                            $('#smv_tem_70_50').enableDrag();
                                            $('#smv_tem_70_50').enableResize();
                                        }
                                    }
                                });
                            }
                            $(window).resize(function(e) {
                                if (e.target == this) {
                                    resize();
                                }
                            });
                            resize();
                        });
                    </script>
                </div>
            </div>
         </div>
    </div>
    <div class="main-layout-wrapper" id="smv_AreaMainWrapper" style="margin-bottom: 50px" bgscroll="none">

        <div class="main-layout" id="tem-main-layout11" style="width: 100%;">
            <div class="" id="smv_MainContent" rel="mainContentWrapper" style="width: 100%; min-height: 300px; position: relative; ">
                <div class="smvWrapper" style="min-width:1200px;  position: relative; background-color: transparent; background-image: none; background-repeat: no-repeat; background:-moz-linear-gradient(top, none, none);background:-webkit-gradient(linear, left top, left bottom, from(none), to(none));background:-o-linear-gradient(top, none, none);background:-ms-linear-gradient(top, none, none);background:linear-gradient(top, none, none);;background-position:0 0;background-size:auto;" bgscroll="none">
                    <!-- 高度为花絮行数*561 +550 -->
                    <div class="smvContainer" id="smv_Main" cpid="98471" th:style="'height:'+${(#lists.size(indexDataList2)/3+1)*561+550}+'px;min-height:400px;width:1200px;position: relative; '">
                        <div id="smv_con_3_25" ctype="text" class="esmartMargin smartAbs " cpid="98471" cstyle="Style1" ccolor="Item2" areaid="" iscontainer="False" pvid="" tareaid="" re-direction="all" daxis="All" isdeletable="True" style="height: 183px; width: 1045px; left: 77px; top:20px;z-index:4;">
                            <div class="yibuFrameContent con_3_25  text_Style1  " style="overflow:hidden;;">
                                <div id='txt_con_3_25' style="height: 100%;">
                                    <div class="editableContent" id="txtc_con_3_25" style="height: 100%; word-wrap:break-word;">
                                        <p style="text-align:center"><span style="line-height:1.75"><span style="font-size:30px"><span style="font-family:Source Han Sans,Geneva,sans-serif">品牌动态</span></span></span> </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <th:block th:if="${not #lists.isEmpty(indexDataList1)}">
                            <th:block th:each="indexData,stat : ${indexDataList1}">
                                <div th:if="${stat.index}==0" id="smv_con_4_37" ctype="image" smanim='{"delay":0.75,"duration":0.75,"direction":"Left","animationName":"slideIn","infinite":"1"}' class="esmartMargin smartAbs animated" style="height: 316px; width: 568px; left: 20px; top: 100px;z-index:5;">
                                    <div class="yibuFrameContent con_4_37  image_Style1  " style="overflow:visible;;">
                                        <div class="w-image-box" data-filltype="1" id="div_con_4_37">
                                            <a target="_self" href="">
                                                <img th:src="${indexData.img}" alt="10" title="10" id="img_smv_con_4_37" style="width: 566px; height:314px;">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div th:if="${stat.index}==1" id="smv_con_5_49" ctype="image" smanim='{"delay":0.75,"duration":0.75,"direction":"Right","animationName":"slideIn","infinite":"1"}' class="esmartMargin smartAbs animated" style="height: 316px; width: 568px; left: 613px; top: 100px;z-index:5;">
                                    <div class="yibuFrameContent con_5_49  image_Style1  " style="overflow:visible;;">
                                        <div class="w-image-box" data-filltype="1" id="div_con_5_49">
                                            <a target="_self" href="">
                                                <img th:src="${indexData.img}" alt="11" title="11" id="img_smv_con_5_49" style="width: 566px; height:314px;">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </th:block>
                        <th:block th:if="${#lists.isEmpty(indexDataList1)}">
                            <div id="smv_con_4_37" ctype="image" smanim='{"delay":0.75,"duration":0.75,"direction":"Left","animationName":"slideIn","infinite":"1"}' class="esmartMargin smartAbs animated" style="height: 316px; width: 568px; left: 20px; top: 100px;z-index:5;">
                                <div class="yibuFrameContent con_4_37  image_Style1  " style="overflow:visible;;">
                                    <div class="w-image-box" data-filltype="1" id="div_con_4_37">
                                        <a target="_self" href="">
                                            <img th:src="@{/img/home/-45551.jpg}" alt="10" title="10" id="img_smv_con_4_37" style="width: 566px; height:314px;">
                                        </a>
                                    </div>
                                    <script type="text/javascript">
                                        $(function() {
                                            InitImageSmv("con_4_37", "566", "316", "1");
                                        });
                                    </script>
                                </div>
                            </div>
                            <div id="smv_con_5_49" ctype="image" smanim='{"delay":0.75,"duration":0.75,"direction":"Right","animationName":"slideIn","infinite":"1"}' class="esmartMargin smartAbs animated" style="height: 316px; width: 568px; left: 613px; top: 100px;z-index:5;">
                                <div class="yibuFrameContent con_5_49  image_Style1  " style="overflow:visible;;">
                                    <div class="w-image-box" data-filltype="1" id="div_con_5_49">
                                        <a target="_self" href="">
                                            <img th:src="@{/img/home/-45552.jpg}" alt="11" title="11" id="img_smv_con_5_49" style="width: 566px; height:314px;">
                                        </a>
                                    </div>
                                    <script type="text/javascript">
                                        $(function() {
                                            InitImageSmv("con_5_49", "566", "316", "1");
                                        });
                                    </script>
                                </div>
                            </div>
                        </th:block>

                        <!-- 花絮区域 -->

                            <div id="smv_con_35_6" ctype="banner" class="esmartMargin smartAbs " style="width: 100%; left: 0px; top: 400px;z-index:6;">
                                <div class="yibuFrameContent con_35_6  banner_Style1  " style="overflow:visible;;">
                                    <div class="fullcolumn-inner smAreaC" id="smc_Area0" cid="con_35_6" style="width:1200px">
                                        <div id="smv_con_36_6" ctype="text" class="esmartMargin smartAbs " cpid="98471" cstyle="Style1" ccolor="Item2" areaid="Area0" iscontainer="False" pvid="con_35_6" tareaid="" re-direction="all" daxis="All" isdeletable="True" style="height: 84px; width: 360px; left: 420px; top: 43px;z-index:2;">
                                            <div class="yibuFrameContent con_36_6  text_Style1  " style="overflow:hidden;;">
                                                <div id='txt_con_36_6' style="height: 100%;">
                                                    <div class="editableContent" id="txtc_con_36_6" style="height: 100%; word-wrap:break-word;">
                                                        <p style="text-align:center"><span style="color:#222222"><span style="line-height:1.75"><span style="font-size:30px"><span style="font-family:Source Han Sans,Geneva,sans-serif">品牌花絮</span></span></span></span> </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="smv_con_52_6" ctype="area" class="esmartMargin smartAbs " style="width: 1200px; left: 1px; top: 69px;z-index:1;">
                                            <div class="yibuFrameContent con_52_6  area_Style1  " style="overflow:visible;;">
                                                <div class="w-container" data-effect-name="enterTop">
                                                    <div class="smAreaC" id="smc_Area0" cid="con_52_6">
                                                        <!-- 花絮区域 -->
                                                        <div id="ajax-content-wrap">
                                                            <div class="container-wrap">
                                                                <div class="container main-content">
                                                                    <div class="row">
                                                                        <div id="fws_607691287b0ea" data-midnight="dark" data-bg-mobile-hidden="" class="wpb_row vc_row-fluid vc_row standard_section   " style="padding-top: 0px; padding-bottom: 0px; ">
                                                                            <div class="row-bg-wrap">
                                                                                <div class="inner-wrap">
                                                                                    <div class="row-bg    " style="" data-color_overlay="" data-color_overlay_2="" data-gradient_direction="" data-overlay_strength="0.3" data-enable_gradient="false"></div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col span_12 dark left">
                                                                                <div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding" data-border-radius="none" data-shadow="none" data-border-animation="" data-border-animation-delay="" data-border-width="none" data-border-style="solid" data-border-color="" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
                                                                                    <div class="vc_column-inner">
                                                                                        <div class="wpb_wrapper">
                                                                                            <div class="row">
                                                                                                <div class="post-area col  span_12 col_last masonry full-width-content classic_enhanced  infinite_scroll " data-ams="">
                                                                                                    <div class="posts-container" data-load-animation="fade_in_from_bottom">
                                                                                                        <!-- 花絮数据 -->
                                                                                                        <th:block th:each="indexData,stat : ${indexDataList2}">
                                                                                                        <article id="post-2496" class="regular post-2496 post type-post status-publish format-standard has-post-thumbnail category-beauty-experience">
                                                                                                            <div class="inner-wrap animated">
                                                                                                                <div class="post-content">
                                                                                                                    <a href="index83.html" class="img-link">
																														<span class="post-featured-img" style="text-align: center">
																															<img width="350" height="350" th:src="${indexData.img}" class="attachment-portfolio-thumb size-portfolio-thumb wp-post-image" alt="" title="" sizes="(min-width: 1600px) 20vw, (min-width: 1300px) 25vw, (min-width: 1000px) 33.3vw, (min-width: 690px) 50vw, 100vw" >
																														</span>
                                                                                                                    </a>
                                                                                                                    <div class="content-inner">
                                                                                                                        <a class="entire-meta-link" href="index83.html"></a>
                                                                                                                        <span class="meta-category"></span>
                                                                                                                        <div class="article-content-wrap">
                                                                                                                            <div class="post-header">
                                                                                                                                [[${indexData.createTime}]]
                                                                                                                                <h3 class="title"> [[${indexData.title}]] </h3>
                                                                                                                            </div>
                                                                                                                            <!--/post-header-->
                                                                                                                            <div class="excerpt"> [[${indexData.content}]]</div>
                                                                                                                            <a class="more-link" href="index83.html"><span class="continue-reading">查看更多</span></a>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </article>
                                                                                                        </th:block>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div id="smv_con_53_39" ctype="area" class="esmartMargin smartAbs "
                                             cpid="98471" cstyle="Style1" ccolor="Item0" areaid="Area0"
                                             iscontainer="True" pvid="con_35_6" tareaid="" re-direction="all"
                                             daxis="All" isdeletable="True"
                                             style="height: 50px; width: 442px; left: 379px; top: 44px;z-index:1;">
                                            <div class="yibuFrameContent con_53_39  area_Style1  "
                                                 style="overflow:visible;;">
                                                <div class="w-container" data-effect-name="enterTop">
                                                    <div class="smAreaC" id="smc_Area0" cid="con_53_39">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="smv_con_55_30" ctype="line" class="esmartMargin smartAbs "
                                             cpid="98471" cstyle="Style1" ccolor="Item0" areaid="Area0"
                                             iscontainer="False" pvid="con_35_6" tareaid="" re-direction="x"
                                             daxis="All" isdeletable="True"
                                             style="height: 20px; width: 32px; left: 364px; top: 60px;z-index:100002; transform:rotate(127deg);-ms-transform:rotate(127deg);-webkit-transform:rotate(127deg);transform-origin: 50% 50%;-ms-transform-origin: 50% 50%;-webkit-transform-origin: 50% 50%;">
                                            <div class="yibuFrameContent con_55_30  line_Style1  "
                                                 style="overflow:visible;;">
                                                <!-- w-line -->
                                                <div style="position:relative; height:100%">
                                                    <div class="w-line" style="position:absolute;top:50%;"
                                                         linetype="horizontal"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="smv_con_56_36" ctype="line" class="esmartMargin smartAbs "
                                             cpid="98471" cstyle="Style1" ccolor="Item0" areaid="Area0"
                                             iscontainer="False" pvid="con_35_6" tareaid="" re-direction="x"
                                             daxis="All" isdeletable="True"
                                             style="height: 20px; width: 32px; left: 807px; top: 57px;z-index:100002; transform:rotate(127deg);-ms-transform:rotate(127deg);-webkit-transform:rotate(127deg);transform-origin: 50% 50%;-ms-transform-origin: 50% 50%;-webkit-transform-origin: 50% 50%;">
                                            <div class="yibuFrameContent con_56_36  line_Style1  "
                                                 style="overflow:visible;;">
                                                <!-- w-line -->
                                                <div style="position:relative; height:100%">
                                                    <div class="w-line" style="position:absolute;top:50%;"
                                                         linetype="horizontal"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="bannerWrap_con_35_6" class="fullcolumn-outer"
                                         style="position: absolute; top: 0; bottom: 0;">
                                    </div>

                                    <script type="text/javascript">
                                        $(function() {
                                            var resize = function() {
                                                $("#smv_con_35_6 >.yibuFrameContent>.fullcolumn-inner").width($("#smv_con_35_6").parent()
                                                    .width());
                                                $('#bannerWrap_con_35_6').fullScreen(function(t) {
                                                    if (VisitFromMobile()) {
                                                        t.css("min-width", t.parent().width())
                                                    }
                                                });
                                            }
                                            $(window).resize(function(e) {
                                                if (e.target == this) {
                                                    resize();
                                                }
                                            });
                                            resize();
                                        });
                                    </script>
                                </div>
                            </div>


                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- 底部-->
    <div style="background-color: transparent; background-image: none; background-repeat: no-repeat;background-position:0 0; background:-moz-linear-gradient(top, none, none);background:-webkit-gradient(linear, left top, left bottom, from(none), to(none));background:-o-linear-gradient(top, none, none);background:-ms-linear-gradient(top, none, none);background:linear-gradient(top, none, none);position: relative; top:0;width: 100%;min-width:1280px;background-size: auto;" bgscroll="none">
        <div id="footer-outer" data-midnight="light" data-cols="1" data-disable-copyright="true" data-using-bg-img="false" data-bg-img-overlay="0.8" data-full-width="1" data-using-widget-area="true">
            <div id="footer-widgets" data-cols="1">
                <div class="container">
                    <div class="row">
                        <div class="col span_12">
                            <!-- Footer 控件区域1 -->
                            <div id="custom_html-2" class="widget_text widget widget_custom_html">
                                <div class="textwidget custom-html-widget">
                                    <div style="width:70%; margin: 0px auto;">
                                        <div class="row" style="text-align: center;padding: 25px 0;">
                                            <div class="vc_col-sm-3" style="display: inline-block; float:none;">
                                                <img data-shadow-direction="middle" height="80" width="80" th:src="@{/img/home/RenderQRCode.jpg}">
                                                <p style="margin-top: -18px;">微信</p>
                                            </div>
                                            <div class="vc_col-sm-3" style="display: inline-block; float:none;">
                                                <img height="80" width="80" th:src="@{/img/home/RenderQRCode.jpg}">
                                                <p style="margin-top: -18px;">网店</p>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div id="text-2" class="widget widget_text">
                                <div class="textwidget">
                                    <p style="text-align: center">
                                        服务热线 8008851870 （工作日9:00-17:00）<br>
                                        公司总机：021-62993388<br>
                                        公司邮箱：51870@pechoin.com<br>
                                        地址：上海市静安区昌平路710号3楼A区052室</p>
                                    <p>
                                    </p>
                                </div>
                            </div>
                            <div id="custom_html-3" class="widget_text widget widget_custom_html">
                                <div class="textwidget custom-html-widget">
                                    <div style="width:70%; margin: 0px auto; text-align: center;">
                                        <a href="/login" target="_blank" style="display: inline-block; margin: 0px 10px; font-size: 14px;"><i class="fa fa-user"></i> 员工入口</a>
                                    </div>
                                    <a href="javascript:;" style="color: #888; font-size: 13px; text-align: center;text-decoration:none ; display: block">上海百雀羚日用化学有限公司 版权所有沪ICP备09048148号-1 <script> document.write(new Date().getFullYear());</script> pechoin, Inc.</a>
                                    <a href="javascript:;" style="color: #888; font-size: 13px;    text-align: center;text-decoration:none ; display: block">沪公网安备 31010702004843号</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<script type='text/javascript' th:src='@{/js/pp/scripts.js}'></script>
<script type='text/javascript' th:src='@{/js/pp/modernizr.js}'></script>
<script type='text/javascript' th:src='@{/js/pp/jquery.fancybox.min.js}'></script>
<script type='text/javascript' th:src='@{/js/pp/isotope.min.js}'></script>
<script type='text/javascript' th:src='@{/js/pp/superfish.js}'></script>
<script type='text/javascript' th:src='@{/js/pp/init.js}'></script>
<script type='text/javascript' th:src='@{/js/pp/infinitescroll.js}'></script>
<script type='text/javascript' th:src='@{/js/pp/wp-mediaelement.min.js}'></script>
<script type='text/javascript' th:src='@{/js/pp/flickity.min.js}'></script>
<script type='text/javascript' th:src='@{/js/pp/jquery.flexslider-min.js}'></script>
<script type='text/javascript' th:src='@{/js/pp/stickkit.js}'></script>
<script type='text/javascript' th:src='@{/js/pp/touchswipe.min.js}'></script>
<script type='text/javascript' th:src='@{/js/pp/select2.min.js}'></script>
<script type='text/javascript' th:src='@{/js/pp/wp-embed.min.js}'></script>
<script type='text/javascript' th:src='@{/js/pp/js_composer_front.min.js}'></script>
<script type="text/javascript">
    $(function() {

        $('.animated').smanimate();









    });
</script>
</body>
</html>
