# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen


logback-spring-local.xml

.env.*.local
*/dist/
*/deploy/dist/
*/target/
*/node_modules/
logs/
.DS_Store

logback-test.xml

.eslintrc.*

*.log